// addon colors

// table
html
  height: 100%
body
  background-color: $body-bg
  font-size: 14px
  line-height: 24px
  position: relative
  height: 100%
  overflow-x: hidden
  transition: all ease-in-out .2s
  -webkit-transition: all ease-in-out .2s
  -moz-transition: all ease-in-out .2s
  -ms-transition: all ease-in-out .2s
  &.open
    overflow: hidden
    #header
      width: 600px;
    .content-area
      width: 300px
hr
  margin-top: 8px
  margin-bottom: 8px
a
  color: $theme
  text-decoration: none
  &:hover
    text-decoration: none
.text-danger
  color: $red !important
.text-grey
  color: $text-grey
.btn-wrap
  padding-top: 20px
  .btn
    font-size: 12px
    font-weight: 500
div[class^="col-"]
  &.p-0
    padding-left: 0;
    padding-right: 0;
.text-primary
  color: $theme !important
.menu-mobile
  display: none
  @media (max-width: 1024px)
    display: inline-block
    margin-left: -8px
    margin-right: 5px
    padding: 0
    height: 15px
    vertical-align: middle
    ine-height: 0;
    margin-top: 6px;
  @media (max-width: 767px)
    margin-top: -20px
  > .icon-menu
    display: inline-block;
    vertical-align: middle
    padding: 8px
  // sidebar & content
.content-area
  padding: 0 30px 30px 286px
  height: 100%
  @media (max-width: 1024px)
    padding-left: 30px
    padding-right: 30px
  @media (max-width: 767px)
    padding-left: 15px
    padding-right: 15px
  .content-wrapper
    padding: 40px
    background-color: $white
    position: relative
    @media (max-width: 1024px)
      padding: 20px
    &:after
      content: ""
      clear: both
      display: table
    &.setting
      height: auto
      overflow-x: hidden
      @media (max-width: 767px)
        padding: 10px
    h2
      font-size: 20px
      margin: 0 0 20px 0
      @media (max-width: 767px)
        font-size: 16px