.print-header
  padding: 30px 0
  .print-btn
    span
      display: inline-block
      padding: 3px 5px 2px 5px;
      border-radius: 3px;
      color: $white
      font-size: 20px
      background-color: $theme
      margin-right: 15px

.print-content
  background-color: $white
  padding: 15px 15px
  display-block
  width: 100%
  .logo-wrapper
    @media (max-width: 767px)
      margin-bottom: 20px
      text-align: center
  h3
    font-size: 20px
    margin: 15px 0
  .account-info
    @media (max-width: 767px)
        text-align: center !important
    p
      color: $text-grey
      margin-bottom: 4px
      strong
        font-weight: 500
        color: $black
    h4
      font-weight: 700
      font-size: 16px
  .quote-info
    &.text-right
      @media (max-width: 767px)
        float: left !important
        text-align: left !important
        margin-top: 15px
    p
      color: $text-grey
      margin-bottom: 4px
      strong
        font-weight: 500
        color: $black
    h4
      font-weight: 700
      font-size: 16px
      margin-bottom: 15px
  .quote-valid
    padding: 15px 0 0 0
    p
      color: $red
  .table
    border: 1px solid $border-color;
    margin-bottom: 0
    position: relative
    z-index: 3
    background-color: $white
    &:nth-child(2)
      margin-top: -19px
      margin-bottom: 18px
      z-index: 2
      >thead
        visibility: hidden
    @media (max-width: 1024px)
      width: 900px
    >thead
      >tr
        >th
          border-right: 1px solid $border-color
          font-size: 12px
          text-transform: uppercase
          padding: 8px 15px
          &:last-child
           border-right: none
           text-align: right
          &:nth-child(2)
            width: 286px
          &.text-center
            width: 120px
    &.deposit
      border: none
      >tbody
        >tr
          &:nth-child(even)
            background-color: $bg-tr
          &:first-child
            >td
              background-color: $white
              padding: 0;
          td
            border: none
            .table-inner
              width: 100%
              max-width: 317px
              >tbody
                >tr
                  background-color: $bg-tr
                  td
                    border-bottom: 2px solid $white
                    font-weight: 400
                    padding: 8px 15px
                    font-size: 12px
                    p
                      color: $black
                      font-size: 12px
                      font-weight: 500
                      strong
                        font-size: 13px
                        color: $black
                        font-weight: 600
                        text-transform: uppercase
          &:last-child
            td
              padding: 0
              .table-inner
                >tbody
                  >tr
                    td
                      font-size: 14px;
                      color: $theme
                      text-align: left
                      border-bottom: none
                      p
                      font-weight: 500
                      font-size: 14px;
                      strong
                        color: $theme
    >tbody
      >tr
        &:nth-child(odd)
          background-color: $bg-tr
        &:last-child
          >td
            border: none
            padding: 15px
            &:nth-child(2)
              text-transform: uppercase
              text-align: center
        &:first-child
          >td
            padding-top: 4px
            padding-bottom: 4px
            background-color: $theme
            color: $white
            text-align: left !important
            height: 64px
            vertical-align: middle
            
            p
              color: $white
              font-weight: 300
              margin: 0
              strong
                font-size: 14px
                font-weight: 400
                color: $white
        >td
          border-right: 1px solid $border-color
          color: $black
          font-weight: 600
          font-size: 12px
          padding: 8px 15px
          &:last-child
            text-align: right
            border-right: none
          &.text-center
            width: 120px
          p
            color: $text-grey
            font-weight: 400
            border-right: none
            strong
              font-weight: 600
              color: $black
          ul
            padding-left: 0
            list-style-position: inside;
            li
              color: $theme
              padding-left: 0
              font-weight: 400
              p
                color: $text-grey
                display: inline-block
.form-wrapper
  h3
    margin-top: 45px
    border-top: 1px solid $border-color
    padding-top: 15px
  .form-group
    .checkbox-wrapp
      margin-bottom: 0
    .btn
      margin-top: 20px
      margin-bottom: 20px