.nav-seting
  position: absolute
  top: 52px
  left: 40px
  width: 100%
  height: 0;
  z-index: 2
  border-right: 1px solid $border-color
  @media (max-width: 1024px)
    left: 20px
  @media (max-width: 767px)
    left: 5px
  &.sticky
    position: fixed
    top: 40px
    left: inherit
  .nav
    width: 228px;
    @media (max-width: 1024px)
      width: 119px;
.setting-wrapper
  padding-left: 250px
  height: 100%
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  overflow-x: hidden
  @media (max-width: 1024px)
    padding-left: 119px;
  @media (max-width: 767px)
    padding-left: 119px;
  .setting-content
    height: 100%
    padding-bottom: 800px
    -webkit-transition: all 0.5s linear
    -moz-transition: all 0.5s linear
    transition: all 0.5s linear
    .table-responsive
      .table
        @media (max-width: 767px)
          width: 480px
