{% extends "layout.html" %}
	{% block content %}
		<!-- Header -->
		<header id="header">
			<a href="" class="menu-mobile js-mobile-button"><span class="icon-menu"></span></a>
			<h1>Profile</h1>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Profile</li>
			  </ol>
			</nav>
		</header>
		<div class="content-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="table-responsive">
						<table class="table">
						  <thead>
						    <tr>
						      <th scope="col"><img src="dist/images/michael-company.png" alt=""></th>
						      <th scope="col">The Michael Company <a href="" class="edit">Edit</a></th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Portal Sign-in:</td>
						      <td><p><a href="">mlevesque@resolvecollaboration.com</a></p> <a href="" class="edit">Edit</a></td>
						    </tr>
						    <tr>
						      <td>Portal Sign-in Password:</td>
						      <td><p>*******</p> <a href="" class="edit">Edit</a></td>
						    </tr>
						    <tr>
						      <td>Moderator Name:</td>
						      <td><p>Michael J. Levesque</p> <a href="" class="edit">Edit</a></td>
						    </tr>
						    <tr>
						      <td>Phone Number:</td>
						      <td><p>647-999-3530</p> <a href="" class="edit">Edit</a></td>
						    </tr>
						    <tr>
						      <td>Email:</td>
						      <td><p><a href="">levesque.michaelj@gmail.com</a></p><a href="" class="edit">Edit</a></td>
						    </tr>
						    <tr>
						      <td>My Account Manager:</td>
						      <td>
						      	<p>Edward Slimane</p>
						      	<p>(416) 848-4801</p>
						      	<p><a href="">eslimane@resolvecollaboration.com</a></p>
						      </td>
						    </tr>
						    <tr>
						      <td>Personal Meeting ID</td>
						      <td>
						      	<label for="#enabledID" class="option-wrapper">
			  						<select class="form-control form-control-md select" id="enabledID">
									  <option>647-999-3530</option>
									</select>
								</label>
						      	<a href="" class="edit">Customize</a>
						      	<table>
						      		<tr>
						      			<td>Moderator Passcode</td>
						      			<td><p>******* <a href="" class="show">show</a></p></td>
						      		</tr>
						      		<tr>
						      			<td>Moderator Passcode</td>
						      			<td><p>******* <a href="" class="show">show</a></p></td>
						      		</tr>
						      		<tr>
						      			<td colspan="2">Meeting Room Name</td>
						      		</tr>
						      		<tr>
						      			<td class="no-padding" colspan="2"><p>https://www.resolve1.com/j/1112223456 <a href="" class="btn btn-sm btn-primary btn-join rounded">Join Now!</a></p></td>
						      		</tr>
						      		<tr>
						      			<td class="no-padding" colspan="2"><p>(888) 777-7962 / +1 (416) 673-6194 <a href="" class="help"><i class="icon-help-circle"></i></a></p></td>
						      		</tr>
						      		<tr>
						      			<td class="no-padding" colspan="2">
						      				<a href="">1112223456@resolve1.com</a>
						      			</td>
						      		</tr>
						      	</table>
						      </td>
						    </tr>
						    <tr>
						      <td>Room Enabled:</td>
						      <td>
						      	<label class="switch">
								  <input type="checkbox" checked>
								  <span class="slider round"></span>
								</label>
							  </td>
						    </tr>
						    <tr>
						    	<td>Capacity</td>
						    	<td><p>100</p></td>
						    </tr>
						    <tr>
						      <td>Last Meeting:</td>
						      <td>
						      	<p>https://www.resolve1.com/j/1112223456 <a href="" class="btn btn-sm btn-primary btn-join rounded">Join Now!</a></p>
							  </td>
						    </tr>
						    <tr>
						      <td>Greeting Language:</td>
						      <td>
						      	<p>English <a href="" class="help"><i class="icon-help-circle"></i></a></p>
							  </td>
						    </tr>
						    <tr>
						      <td>licensing:</td>
						      <td>
						      	<label class="switch">
								  <input type="checkbox" checked>
								  <span class="slider round"></span>
								</label>
								<span class="text-danger">0 of 10 available video conference licenses</span>
							  </td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}