<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c"> -->
		<title>Resolve Colaboration Service</title>
		<link rel="stylesheet" type="text/css" href="dist/css/style.css">
		<link rel="stylesheet" type="text/css" href="dist/css/simplebar.css">
		<link rel="stylesheet" type="text/css" href="dist/css/datatables.min.css">
		<link rel="stylesheet" type="text/css" href="dist/fonts/icomoon/style.css">
	</head>
	<body>
		<!-- sidebar area -->
		<div class="sidebar-area js-mobile-menu">
			<div class="logo-wrapper">
				<a href="/"><img src="dist/images/logo.png" alt="resolve"></a>
			</div>
			<div class="admin-wrapper">
				<h3>Michael J. Levesque</h3>
				<p>Super Admin</p>
			</div>
			<div class="menu">
				<ul>
					<li class="active"><a href="/" ><i class="icon-user"></i> Profile</a></li>
					<li><a href="meeting-history.html"><i class="icon-list"></i> Meeting history</a></li>
					<li><a href=""><i class="icon-headphones"></i> Support</a></li>
					<li><a href=""><i class="icon-log-out"></i> Sign Out</a></li>
				</ul>
			</div>
		</div>
		<div class="content-area">
			{% block content %}{% endblock %}
		</div>
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- popper for bootstrap -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
		<!-- popper for bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!-- bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<!-- custom scroll -->
		<!-- main js -->
		<script src="dist/js/simplebar.js"></script>
		<script src="dist/js/datatables.min.js"></script>
		{% block script %}{% endblock %}
		<script src="dist/js/custom.js"></script>
	</body>
</html>