{% extends "layout.html" %}
	{% block content %}
		<!-- Header -->
		<header id="header">
			<a href="" class="menu-mobile js-mobile-button"><span class="icon-menu"></span></a>
			<h1>Meeting History</h1>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Previous Meetings</li>
			  </ol>
			</nav>
		</header>
		<div class="content-wrapper">
			<h2>Previous Meetings</h2>
			<div class="filter">
				<ul>
					<li>
						<span>Show Meeting History:</span>
					</li>
					<li>
						<div class="dropdown">
						  <button class="btn dropdown-select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Last 30 Days
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">Last 30 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 60 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 90 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 180 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">This Month</a>
						    <a class="dropdown-item" href="#">Last Month</a>
						    <a class="dropdown-item" href="#">Last Quarter</a>
						    <a class="dropdown-item" href="#">This Year</a>
						    <a class="dropdown-item" href="#">Last Year</a>
						  </div>
						</div>
					</li>
					<li>
						<a href="" class="btn btn-primary btn-sm rounded" data-toggle="modal" data-target="#downloadModal">Download</a>
					</li>
				</ul>
			</div>
			<div class="table-responsive">
				<table id="table_id" class="table display sm">
				    <thead>
				        <tr>
				            <th><span>Start Time</span></th>
				            <th><span>Duration</span></th>
				            <th><span>Meeting Name</span></th>
				            <th><span>Meeting ID</span></th>
				            <th><span>Participant</span></th>
				            <th><span>Recorded</span></th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
								Thursday December 13th 2018
								<p>09:00 AM</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>8 Minutes</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">Michael’s Meeting Room</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">7 Guest</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>Yes</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
								Friday December 14th 2018
								<p>09:00 AM</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>241 Minutes</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">Michael’s Meeting Room</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>236-666-7894</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">7 Guest</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>no</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
								Friday December 14th 2018
								<p>09:00 AM</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>162 Minutes</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">Michael’s Meeting Room</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>896-666-7894</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">21 Guest</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>Yes</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
								Thursday December 13th 2018
								<p>09:00 AM</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>80 Minutes</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">Breakfast Meeting</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>389-666-7894</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">7 Guest</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>Yes</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
								Thursday December 13th 2018
								<p>09:00 AM</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>240 Minutes</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">Michael’s Meeting Room</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>987-666-7894</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">10 Guest</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>no</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
								Thursday December 13th 2018
								<p>09:00 AM</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>162 Minutes</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">Michael’s Meeting Room</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>542-666-7894</p>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<span class="text-primary">7 Guest</span>
				            </td>
				            <td>
				            	<a href="#" data-toggle="modal" data-target="#participantModal" class="popup-participant"></a>
				            	<p>Yes</p>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>

		<!-- Modal lg -->
		<div class="modal fade" id="participantModal" tabindex="-1" role="dialog" aria-labelledby="participantModal" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Participant List</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span class="icon-x"></span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="filter">
				<ul>
					<li>
						<div class="dropdown">
						  <button class="btn dropdown-select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    File Format
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">MP4</a>
						    <a class="dropdown-item" href="#">MP3</a>
						    <a class="dropdown-item" href="#">3GP</a>
						    <a class="dropdown-item" href="#">HD</a>
						  </div>
						</div>
					</li>
					<li>
						<a href="" class="btn btn-primary btn-sm rounded" data-toggle="modal" >Download</a>
					</li>
				</ul>
			</div>
			<div class="table-responsive">
				<table id="table_id2" class="table display sm tleft">
				    <thead>
				        <tr>
				            <th><span>Guest Name</span></th>
				            <th><span>Meeting ID</span></th>
				            <th><span>Role</span></th>
				            <th><span>Device Type</span></th>
				            <th><span>Start Time</span></th>
				            <th><span>End Time</span></th>
				            <th><span>Duration</span></th>
				            <th><span>Rate</span></th>
				            <th><span>Total</span></th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>
								<p>Michael Levesque</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Moderator</p>
				            </td>
				            <td>
				            	<p>Telephone</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>80 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$2.40</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Edward Slimane</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Participant</p>
				            </td>
				            <td>
				            	<p>Web</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>30 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$0.90</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Michael Levesque</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Moderator</p>
				            </td>
				            <td>
				            	<p>Telephone</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>80 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$2.40</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Edward Slimane</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Participant</p>
				            </td>
				            <td>
				            	<p>Web</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>30 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$0.90</p>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Download Meeting History</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span class="icon-x"></span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="checkbox-wrapp">
					<div class="custom-control custom-checkbox mr-sm-2">
				        <input type="checkbox" class="custom-control-input" id="moderatorJoin">
				        <label class="custom-control-label" for="moderatorJoin">Include detailed participant information for each conference</label>
			    	</div>
				</div>
		        <div class="filter">
					<ul>
						<li>
							<div class="dropdown">
							  <button class="btn dropdown-select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Last 30 Days
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							    <a class="dropdown-item" href="#">Last 30 Days (Rolling)</a>
							    <a class="dropdown-item" href="#">Last 60 Days (Rolling)</a>
							    <a class="dropdown-item" href="#">Last 90 Days (Rolling)</a>
							    <a class="dropdown-item" href="#">Last 180 Days (Rolling)</a>
							    <a class="dropdown-item" href="#">This Month</a>
							    <a class="dropdown-item" href="#">Last Month</a>
							    <a class="dropdown-item" href="#">Last Quarter</a>
							    <a class="dropdown-item" href="#">This Year</a>
							    <a class="dropdown-item" href="#">Last Year</a>
							  </div>
							</div>
						</li>
						<li>
							<a href="" class="btn btn-primary btn-sm rounded">Download</a>
						</li>
					</ul>

				</div>
		      </div>
		    </div>
		  </div>
		</div>
	{% endblock %}