{% extends "layout.html" %}
	{% block content %}
		<!-- Header -->
		<header id="header">
			<a href="" class="menu-mobile js-mobile-button"><span class="icon-menu"></span></a>
			<h1>Participant List</h1>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Previous Meetings</li>
			  </ol>
			</nav>
		</header>
		<div class="content-wrapper">
			<h2>Participant List</h2>
			<div class="filter">
				<ul>
					<li>
						<div class="dropdown">
						  <button class="btn dropdown-select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    File Format
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">MP4</a>
						    <a class="dropdown-item" href="#">MP3</a>
						    <a class="dropdown-item" href="#">3GP</a>
						    <a class="dropdown-item" href="#">HD</a>
						  </div>
						</div>
					</li>
					<li>
						<a href="" class="btn btn-primary btn-sm rounded" data-toggle="modal" data-target="#downloadModal">Download</a>
					</li>
				</ul>
			</div>
			<div class="table-responsive">
				<table id="table_id2" class="table display sm">
				    <thead>
				        <tr>
				            <th><span>Guest Name</span></th>
				            <th><span>Meeting ID</span></th>
				            <th><span>Role</span></th>
				            <th><span>Device Type</span></th>
				            <th><span>Start Time</span></th>
				            <th><span>End Time</span></th>
				            <th><span>Duration</span></th>
				            <th><span>Rate</span></th>
				            <th><span>Total</span></th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>
								<p>Michael Levesque</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Moderator</p>
				            </td>
				            <td>
				            	<p>Telephone</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>80 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$2.40</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Edward Slimane</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Participant</p>
				            </td>
				            <td>
				            	<p>Web</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>30 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$0.90</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Michael Levesque</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Moderator</p>
				            </td>
				            <td>
				            	<p>Telephone</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>80 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$2.40</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Edward Slimane</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Participant</p>
				            </td>
				            <td>
				            	<p>Web</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>30 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$0.90</p>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>

		<!-- Modal -->

		<!-- Modal -->
		<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Click format version to download</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span class="icon-x"></span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="filter">
					<ul class="text-center">
						<li>
							<a href="" class="btn btn-primary btn-sm rounded">Preview</a>
						</li>
					</ul>
					<div class="table-responsive">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Format</th>
					      <th scope="col">Resolution</th>
					      <th scope="col">Bit Rate</th>
					      <th scope="col">File Size</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td><a href="">[MP4]</a></td>
					      <td>1280x720</td>
					      <td>1024k</td>
					      <td>1024k</td>
					    </tr>
					    <tr>
					      <td><a href="">[MP4]</a></td>
					      <td>1280x720</td>
					      <td>1024k</td>
					      <td>2048k</td>
					    </tr>
					    <tr>
					      <td><a href="">[MP4]</a></td>
					      <td>...</td>
					      <td>128k</td>
					      <td>128k</td>
					    </tr>
					  </tbody>
					</table>
					</div>
					<div class="btn btn-blue btn-block">Host this recording for playback</div>
					<div class="btn btn-danger btn-block">Export to Youtube</div>
					<div class="btn btn-info btn-block">Export to Vimeo</div>
					<div class="btn btn-warning btn-block">Export to LMS Server</div>
					<div class="btn btn-success btn-block">Export to FTP Server</div>
					<div class="btn btn-default btn-block">Request Conversion</div>
					<div class="btn btn-black btn-block">Request editing</div>
				</div>
		      </div>
		    </div>
		  </div>
		</div>
	{% endblock %}