{% extends "layout-print.html" %}
	{% block content %}
	<div class="print-content">
		<div class="col-12">
			<div class="row">
				<div class="col-md-6">
					<div class="logo-wrapper">
						<a href="/"><img src="dist/images/logo.png" alt="resolve"></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="account-info text-right">
						<h4>Your Account Manager</h4>
						<p><strong>Michael Levesque</strong></p>
						<a href="">mlevesque@resolvecollaboration.com</a>
						<p>(416) 848-4810</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12">
					<h3>Quote: MJL-00003281 - Sample Quote</h3>
				</div>
				<div class="col-md-4">
					<div class="quote-info text-left">
						<h4>Prepare For:</h4>
						<p><strong>Michael Levesque</strong></p>
						<p>121 Richmond Street West Suite 402 Toronto, Ontario, Canada, M5H 2K1</p>
						<a href="">mlevesque@resolvecollaboration.com</a>
						<p>(416) 848-4810</p>
					</div>
				</div>
				<div class="col-md-8">
					<div class="quote-info text-right">
						<h4>Ship To:</h4>
						<p><strong>Jhon Doe</strong></p>
						<p>30 Jalan Buroh  Singapore 619486, Singapore</p>
						<a href="">mlevesque@resolvecollaboration.com</a>
						<p>(416) 848-4810</p>
					</div>
				</div>
				<div class="col-12">
					<div class="quote-valid">
						<p>Quote valid until Thursday October 31st 2019</p>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Quantity</th>
							<th>Description</th>
							<th class="text-center">Unit Price</th>
							<th class="text-center">tax</th>
							<th>EXTENDED PRICE</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5">
								<p><strong>Room1</strong></p>
								<p>Main Conference Room</p>
							</td>
						</tr>
						<tr>
							<td>
								1.00
							</td>
							<td>
								Group 310 (EagleEye Acoustic)
								<p>System Includes :</p>
								<ul>
									<li>
										<p>Group 310 HD CODEC</p>
									</li>
									<li>
										<p>EagleEye Acoustic Camera</p>
									</li>
									<li>
										<p>Universal Remote</p>
									</li>
								</ul>
							</td>
							<td class="text-center">
								<p>$3,279.23</p>
							</td>
							<td class="text-center">
								HST13
							</td>
							<td>
								<p>$3,279.23</p>
							</td>
						</tr>
						<tr>
							<td>
								1.00
							</td>
							<td>
								1-Year Partner Premier (TC) Group 310 (EagleEye IV-12x)
								<ul>
									<li>
										<p>Software Upgrade and Updates</p>
									</li>
									<li>
										<p>Advance Parts Replacement</p>
									</li>
									<li>
										<p>Telephone Support during business hour</p>
									</li>
									<li>
										<p>Access to Online Support Tools</p>
									</li>
									<li>
										<p>User Training</p>
									</li>
								</ul>
							</td>
							<td class="text-center">
								<p>$448.05</p>
							</td>
							<td class="text-center">
								HST13
							</td>
							<td>
								<p>$448.05</p>
							</td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td><p><strong>Sub total</strong></p></td>
							<td><p>$3,727.28</p></td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5">
								<p><strong>Room2</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								1.00
							</td>
							<td>
								Group 500 (EagleEyeIV-12x)
								<p><strong>System Includes : </strong></p>
								<ul>
									<li>
										<p>Group 500 HD CODEC</p>
									</li>
									<li>
										<p>EagleEyeIV-12x Camera</p>
									</li>
									<li>
										<p>Table Top Microphone Array</p>
									</li>
									<li>
										<p>Universal Remote</p>
									</li>
								</ul>
							</td>
							<td class="text-center">
								<p>$11,129.23</p>
							</td>
							<td class="text-center" class="text-center">
								HST13
							</td>
							<td>
								<p>$11,129.23</p>
							</td>
						</tr>
						<tr>
							<td>
								1.00
							</td>
							<td>
								1-Year Partner Premier (TC) Group 500 (EagleEye IV-12x)
								<ul>
									<li>
										<p>Software Upgrade and Updates</p>
									</li>
									<li>
										<p>Advance Parts Replacement</p>
									</li>
									<li>
										<p>Telephone Support during business hour</p>
									</li>
									<li>
										<p>Access to Online Support Tools</p>
									</li>
									<li>
										<p>User Training</p>
									</li>
								</ul>
							</td>
							<td class="text-center">
								<p>$1,594.14</p>
							</td>
							<td class="text-center">
								HST13
							</td>
							<td>
								<p>$1,594.14</p>
							</td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td><p><strong>Sub total</strong></p></td>
							<td><p>$12,723.37</p></td>
						</tr>
					</tbody>
				</table>
				<p class="text-grey">50% Deposit required with order.</p>
				<table class="table deposit">
					<tr>
						<td>
							<table class="table-inner" align="right">
								<tr>
									<td><p><strong>Sub Total :</strong></p></td>
									<td>$16,450.64</td>
								</tr>
								<tr>
									<td><p>Total HST13 (HST 13%) :</p></td>
									<td>$2,138.58</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table class="table-inner" align="right">
								<tr>
									<td><p><strong>Total :</strong></p></td>
									<td><p><strong>$18,589.23 CDN</strong></p></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div class="form-wrapper">
				<h3>Ready to Accept?</h3>
				<form>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-4 col-form-label">Payment Term</label>
				    <div class="col-sm-8">
				      <span>Net 30</span>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-4 col-form-label">IP Address</label>
				    <div class="col-sm-8">
				      <span>36.72.214.13</span>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="poNumber" class="col-sm-4 col-form-label">PO Number</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="poNUmber" placeholder="Optional : PO number for your preference">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="comments" class="col-sm-4 col-form-label">Comments</label>
				    <div class="col-sm-8">
				      <textarea class="form-control" id="comments" rows="4"></textarea>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="email" class="col-sm-4 col-form-label">Email Address</label>
				    <div class="col-sm-8">
				      <input type="email" class="form-control" id="email" placeholder="mlevesque@resolvecollaboration.com">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="printName" class="col-sm-4 col-form-label">Print Name</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="printName" placeholder="">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="signature" class="col-sm-4 col-form-label">Signature</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="signature" placeholder="">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-4 col-form-label">Order Confirmation</label>
				    <div class="col-sm-8">
				      <span class="text-primary">We reserve the right to cancel orders arising from errors, inaccuracies, or omissions.</span>
				    </div>
				  </div>
				  <fieldset class="form-group">
				    <div class="row">
				      <legend class="col-form-label col-sm-4 pt-0"></legend>
				      <div class="col-sm-8">
				        <div class="checkbox-wrapp">
	  						<div class="custom-control custom-checkbox mr-sm-2">
					        <input type="checkbox" class="custom-control-input" id="moderatorJoin">
					        <label class="custom-control-label" for="moderatorJoin">I agree to the terms and conditions of the above document with an electronic signature below.</label>
						    </div>
	  					</div>
				        <a href="" class="btn btn-primary rounded btn-md btn-wide">Click To Accept</a>
				      </div>
				    </div>
				  </fieldset>
				  <h3>Have Questions?</h3>
				  <div class="form-group row">
				    <div class="col-sm-4">Not Ready To Accept? Have Questions?</div>
				    <div class="col-sm-8">
				      <textarea class="form-control" id="comments" rows="4"></textarea>
				       <a href="" class="btn btn-primary rounded btn-md btn-wide">Submit</a>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}