{% extends "layout.html" %}
	{% block content %}
		<!-- Header -->
		<header id="header">
			<a href="" class="menu-mobile js-mobile-button"><span class="icon-menu"></span></a>
			<h1>Profile</h1>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Setting</li>
			  </ol>
			</nav>
		</header>
		<div class="content-wrapper setting">
			<div class="nav-seting" id="myNav">
				<ul class="nav nav-pills flex-column">
				  <li class="nav-item active">
				    <a class="nav-link js-link"href="#header">Basic Setting</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link js-link" href="#experience">Experience Setting</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link js-link" href="#recording">Recording Setting</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link js-link" href="#security">Security Setting</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link js-link" href="#enterprise" >Enterprise Setting</a>
				  </li>
				</ul>
			</div>
			<div class="setting-wrapper">
				<div class="setting-content">
					<div class="table-responsive" id="basic">
					  	<table class="table">
					  		<thead>
					  			<tr>
					  				<th>Basic Setting</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>
					  					Personal Meeting ID
					  					<p>111-222-888</p>
					  					<a href="" class="edit">Edit</a>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Meeting Name
					  					<p>Meeting Room Name</p>
					  					<a href="" class="edit">Edit</a>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Moderator ID 
					  					<div class="checkbox-wrapp">
					  						<div class="custom-control custom-checkbox mr-sm-2">
									        <input type="checkbox" class="custom-control-input" id="moderatorJoin">
									        <label class="custom-control-label" for="moderatorJoin">Prompt for Moderator on join</label>
										    </div>
					  					</div>
					  					<p>**********</p>
					  					<a href="" class="edit">Edit</a>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Passcode ID 
					  					<div class="checkbox-wrapp">
					  						<div class="custom-control custom-checkbox mr-sm-2">
									        <input type="checkbox" class="custom-control-input" id="mpasscodeJoin">
									        <label class="custom-control-label" for="mpasscodeJoin">Require Particpant to enter passcode to join</label>
										    </div>
					  					</div>
					  					<p>**********</p>
					  					<a href="" class="edit">Edit</a>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Greeting Language
					  					<p>English</p>
					  					<a href="" class="edit">Edit</a>
					  				</td>
					  			</tr>
					  		</tbody>
					  	</table>
				  	</div>

				  	<div class="table-responsive" id="experience">
					  	<table class="table">
					  		<thead>
					  			<tr>
					  				<th>Experience Setting</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>
					  					Full Screen Lecture Mode
					  					<p>This explains what full screen lecture mode is</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Meeting Requires Moderator
					  					<p>This explains what Moderator wait is</p>
					  					<label class="switch right ">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Moderator Terminate
					  					<p>This explains what this is</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					<label for="#enabled3" class="option-wrapper">
					  						<select class="form-control form-control-md select" id="enabled3">
											  <option>Entry Announcement</option>
											</select>
										</label>
					  					<p>This explains what full this is</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					<label for="#enabled2" class="option-wrapper">
						  					<select class="form-control form-control-md select" id="enabled2">
												  <option>Maximum Duration</option>
												</select>
											</label>
					  					<p>This explains what full this is</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Maximum Duration
					  					<p>Allows participants to join a meeting directly from their browser. Ideal for participants who are unable to download, install, or run applications. Note that the meeting experience from the browser is limited.</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  		</tbody>
					  	</table>
				  	</div>

				  	<div class="table-responsive" id="recording">
					  	<table class="table">
					  		<thead>
					  			<tr>
					  				<th>Recording Setting</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>
					  					Auto Record Every Meeting
					  					<p>This explains what this is</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  		</tbody>
					  	</table>
				  	</div>

				  	<div class="table-responsive" id="security">
					  	<table class="table">
					  		<thead>
					  			<tr>
					  				<th>Security Setting</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>
					  					<label for="#enabled1" class="option-wrapper">
						  					<select class="form-control form-control-md select" id="enabled1">
												  <option>Enable Endpoint Encryption</option>
												</select>
											</label>
					  					<p>This explains what this is</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  		</tbody>
					  	</table>
				  	</div>

				  	<div class="table-responsive" id="enterprise">
					  	<table class="table">
					  		<thead>
					  			<tr>
					  				<th>Enterprise Setting</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>
					  					Associate Meeting Room to cost centre
					  					<div class="form-wrapp">
					  						<form action="">
					  							<div class="form-group">
												    <input type="text" class="form-control rounded" id="textOnTheBar" placeholder="text on the bar">
												  </div>
					  						</form>
					  					</div>
					  					<p>This explains what this is</p>
					  					<label class="switch right">
										  <input type="checkbox" checked>
										  <span class="slider round"></span>
										</label>
					  				</td>
					  			</tr>
					  		</tbody>
					  	</table>
				  	</div>
			  	</div>
		  	</div>
		</div>
	{% endblock %}
	{% block script %}
		<script src="dist/js/setting.js"></script>
	{% endblock %}