[data-simplebar] {
    position: relative;
    z-index: 0;
    overflow: hidden!important;
    max-height: inherit;
    -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

[data-simplebar="init"] {
    display: flex;
}

.simplebar-scroll-content {
    overflow-x: hidden!important;
    overflow-y: scroll;
    min-width: 100%!important;
    max-height: inherit!important;
    box-sizing: content-box!important;
}

.simplebar-content {
    overflow-y: hidden!important;
    overflow-x: scroll;
    box-sizing: border-box!important;
    min-height: 100%!important;
}

.simplebar-track {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8px;
    border-radius: 2px;
    /*background-color: #EEF0F4;*/
    border-left: 0px solid $white;
    transition: width ease-in .1s

}

.simplebar-scrollbar {
    position: absolute;
    right: 0;
    width: 8px;
    min-height: 10px;
    transition: width ease-in .1s
}

.simplebar-scrollbar:before {
    position: absolute;
    content: "";
    background: $info;
    border-radius: 2px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}

// .simplebar-track:hover,
// .simplebar-track:focus {
//     width: 10px;
//     border-radius: 10px;
    
//     .simplebar-scrollbar {
//         width: 8px;
//     }
//     .simplebar-scrollbar:before {
//         border-radius: 10px;
//     }
// }

.simplebar-track:hover .simplebar-scrollbar:before,
.simplebar-track .simplebar-scrollbar.visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: 1;
    transition: opacity 0 linear;
}

.simplebar-track.vertical {
    top: 0;
}

.simplebar-track.vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: 11px;
}

.simplebar-track.horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px;
}

.horizontal.simplebar-track .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}
