.custom-checkbox
  .custom-control-label
    margin-left: 10px
    &::before
      content: "\e90b"
      transition: inherit
      border: none
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      top: -1px
      left: -30px;
      background-color: inherit;
      box-shadow: none;
      color: $theme
  .custom-control-input
    &:checked ~ .custom-control-label
      &::after
        content: "\e90a"
        transition: none
        border: none
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 24px;
        top: -1px
        left: -30px;
        background-image: inherit;
        color: $theme
    ~ .custom-control-label
      &::before
        background-color: inherit
        border: none
        box-shadow: none;
.switch
  &.right
    position: absolute
    top: 20px
    right: 10px