.filter
	ul
		list-style: none
		padding: 0
		margin: 0
		li
			display: inline-block
			margin-right: 10px
			span
				font-size: 14px
			.option-wrapper
				width: 215px
				.form-control
					font-size: 14px
					height: 30px
					padding-left: 20px
					padding-right: 20px
			.dropdown-select
				width: 215px
				position: relative

			.btn
				@media (max-width: 480px)
					margin-top: 15px