#header
  display: flex
  padding: 18px
  @media (max-width: 1024px)
    padding: 0
  @media (max-width: 7670px)
    display: block
  h1
    font-size: 24px
    text-transform: uppercase
    margin-right: 10px
    line-height: 45px
    display: inline-block
    margin-bottom: 0
    @media (max-width: 1024px)
      font-size: 20px
      display: inline-block
    @media (max-width: 768px)
      font-size: 18px
    @media (max-width: 480px)
      font-size: 13px
  nav
    display: inline-block
  .breadcrumb
    background-color: transparent
    margin-bottom: 0

    @media (max-width: 1024px)
      padding-left: 0
    .breadcrumb-item
      a
        color: $blue
        &:hover
          text-decoration: none
      &.active
        color: $text-grey