.modal
  .modal-dialog
    margin: 5.75rem auto
    max-width: 648px
    &.modal-lg
      max-width: 96%
    .modal-content
      border: none
      border-radius: 0
      .modal-header
        border: none
        padding-top: 30px
        padding-left: 30px
        padding-right: 30px
      .modal-body
        padding-left: 30px
        padding-right: 30px
        padding-bottom: 30px
        .checkbox-wrapp
          margin-bottom: 20px
          label
            color: $text-grey
        .table
          margin-top: 20px
          margin-bottom: 20px
          border: 1px solid $border-color
          thead
            tr
              th
                text-transform: uppercase
                font-size: 14px
                padding: 10px 8px
                text-align: center
                border-top: 1px solid $border-color
                border-right: 1px solid $border-color
                &:last-child
                  border-right: none
          tbody
            tr
              td
                font-size: 14px
                padding: 10px 8px
                text-align: center
                font-weight: 400
                border-right: 1px solid $border-color
                &:last-child
                  border-right: none
          &.tleft
            border: none
            margin-top: 30px !important
            thead
              tr
                th
                  text-align: left
                  padding-left: 15px
                  padding-right: 15px
                  border-top: none
                  border-left: none
                  border-right: none
                  border-bottom: 2px solid $border-color
            tbody
              tr
                td
                  text-align: left
                  padding-left: 15px
                  padding-right: 15px
                  border-left: none
                  border-right: none
                  position: inherit