.sidebar-area
  width: 256px
  height: 100vh
  background-color: $white
  box-shadow: 0 3px 6px rgba($black, .16)
  position: fixed
  z-index: 1031
  top: 0
  left: 0
  border-top: 1px solid $gray-300
  height: 100%
  transition: all ease-in-out .2s
  -webkit-transition: all ease-in-out .2s
  -moz-transition: all ease-in-out .2s
  -ms-transition: all ease-in-out .2s
  @media (max-width: 1024px)
    left: -256px
  .logo-wrapper
    border-bottom: 1px solid $border-color

    a
      display: block
      text-align: center
      padding: 15px 0

      img
        max-width: 100%

  .admin-wrapper
    padding: 20px;
    border-bottom: 1px solid $border-color
    h3
      font-size: 16px
      color: $theme
      margin: 0
    p
      font-size: 12px
      color: $text-grey
      margin: 0
      text-transform: uppercase
  .menu
    padding-top: 20px
    ul
      padding: 0
      list-style: none
      li
        a
          padding: 10px 10px 10px 60px
          position: relative
          font-size: 14px
          color: $black
          display: block
          i
            position: absolute
            top: 10px
            left: 20px
            font-size: 24px
        &.active
          a
            color: $theme
        &:hover
          a
            color: $theme
            text-decoration: none;
body
  &.open
    .sidebar-area
      left: 0
