.nav-pills
  border-right: 1px solid $border-color
  padding-top: 15px;
  padding-bottom: 30px;
  .nav-item
    border: 1px solid transparent
    border-right: none
    .nav-link
      display: block
      color: $black
      font-size: 14px
      border-left: 2px solid transparent
      border-radius: 0
      margin-right: -1px
      @media (max-width: 1024px)
        font-size: 12px
        padding: 5px
    &.active 
      border-top: 1px solid $border-color
      border-top: 1px solid $border-color
      border-bottom: 1px solid $border-color
      .nav-link
        border-left: 2px solid $theme
        background-color: $white
        color: $theme
.tab-content
  height: 100vh
  border-left: 1px solid $border-color
  .tab-pane
    padding: 0 20px
