.table
  margin-bottom: 30px
  th, td
    border-top: none
    border-bottom: 1px solid $border-color
    padding: 20px 20px 18px 20px
    position: relative
    font-size: 14px;
    padding-right: 60px
    @media (max-width: 1024px)
      padding: 20px 80px 18px 10px
      font-size: 12px
    @media (max-width: 480px)
      font-size: 12px
    &:nth-child(1)
      @media (max-width: 1024px)
        padding-right: 20px
    > table
      tr
        td
          padding-right: 20px
    .edit
      color: $theme
      position: absolute
      top: 20px
      right: 20px
      font-size: 14px
      font-weight: 400
      @media (max-width: 480px)
        font-size: 12px
  td
    &:nth-child(1)
      font-weight: 600
      .form-wrapp
        display: inline-block
        margin-left: 20px;
        margin-bottom: -5px
        .form-group
          margin-bottom: 0
      .checkbox-wrapp
        display: inline-block
        margin-left: 20px;
        @media (max-width: 768px)
          margin-left: 0
        .custom-control-label
          font-weight: 400
          color: $text-grey
      p
        font-weight: 400
        color: $text-grey
    &:nth-child(2)
      color: $text-grey
    p
      display: block;
    p
      margin-bottom: 5px;
      &:last-child
        margin-bottom: 0
    .text-danger
      display: inline-block
      margin-left: 10px
    table
      tr
        position: relative
        td
          padding: 20px 20px 20px 0
          font-size: 14px;
          font-weight: 700
          font-weight: 600
          color: $black
          border-bottom: none
          vertical-align: middle
          @media (max-width: 480px)
            font-size: 12px
          &.no-padding
            padding: 0 0 10px 0
          &:first-child
            width: 60%
            p
              font-weight: 400
              color: $text-grey
            a
              font-weight: 400
          .show
            vertical-align: top
            margin-left: 15px
            display: inline-block
            font-weight: 400
            @media (max-width: 767px)
              margin-left: 9px;


    .btn-join
      vertical-align: middle
      margin-left: 15px
      display: inline-block
      font-weight: 400
      @media (max-width: 768px)
        margin-left: 0
        margin-top: 10px
        margin-bottom: 10px
  thead
    th
      border-bottom: 1px solid $border-color
      font-size: 20px
      vertical-align: top
      @media (max-width: 480px)
        font-size: 18px
      &:first-child
        width: 20%
        @media (max-width: 1280px)
          width: 33.33333%
      .edit
        top: 20px
        +translateY(0)
  &.sm
    thead
      th
        font-size: 12px
        padding-top: 10px
        padding-bottom: 8px
    tr
      td
        padding-top: 10px
        padding-bottom: 8px
    &.display
      margin-top: 20px
      @media (max-width: 768px)
        width: 968px
      thead
        th
          text-transform: uppercase
          padding: 20px 15px 18px 8px;
          font-size 14px
          &:first-child
            width: 15%
          @media (max-width: 1280px)
            font-size: 12px;
          @media (max-width: 767px)
            font-size: 12px;
          &:before, &:after
            display: none
          span
            position: relative
            display: inline-block
            line-height: 18px;
            &:before
              content: "\e903";
              font-family: 'icomoon' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              top: 0
              right: -15px
              font-size: 12px;
              opacity: 1
              position: absolute

              /* Better Font Rendering =========== */
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            &:after
              content: "\e900";
              font-family: 'icomoon' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              top: 7px
              right: -15px
              font-size: 12px;
              opacity: 1
              position: absolute

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
      tbody
        td
          font-size: 14px
          line-height: 18px
          padding: 20px 15px 18px 8px;
          @media (max-width: 1280px)
            font-size: 12px;
          p
            color: $text-grey
          .popup-participant
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%


//datatables
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate
  display: none
